In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
session.query(Measurement.)

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# Create function that outputs statistics for the given month
def monthly_temps(month):
    years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
    temp_list = []
    for year in years:
        if month == '01' or '03' or '05' or '07' or '08' or '10' or '12':
            date_start = str(year) + '-' + str(month) + '-01'
            date_end = str(year) + '-' + str(month) + '-31'
            results = session.query(Measurement.tobs).filter(Measurement.date >= date_start).filter(Measurement.date <= date_end).all()
            temp_list = temp_list + results
        elif month == '04' or '06' or '09' or '11':
            date_start = str(year) + '-' + str(month) + '-01'
            date_end = str(year) + '-' + str(month) + '-30'
            results = session.query(Measurement.tobs).filter(Measurement.date >= date_start).filter(Measurement.date <= date_end).all()
            temp_list = temp_list + results
        else:
            date_start = str(year) + '-' + str(month) + '-01'
            date_end = str(year) + '-' + str(month) + '-28'
            results = session.query(Measurement.tobs).filter(Measurement.date >= date_start).filter(Measurement.date <= date_end).all()
    temp_df = pd.DataFrame(temp_list)
    return(temp_df.describe())

In [5]:
print(monthly_temps('06'))
print(monthly_temps('12'))

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000
                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [6]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
june_2010 = session.query(Measurement.tobs).filter(Measurement.date >= '2010-06-01').filter(Measurement.date <= '2010-06-30').all()
june_2011 = session.query(Measurement.tobs).filter(Measurement.date >= '2011-06-01').filter(Measurement.date <= '2011-06-30').all()
june_2012 = session.query(Measurement.tobs).filter(Measurement.date >= '2012-06-01').filter(Measurement.date <= '2012-06-30').all()
june_2013 = session.query(Measurement.tobs).filter(Measurement.date >= '2013-06-01').filter(Measurement.date <= '2013-06-30').all()
june_2014 = session.query(Measurement.tobs).filter(Measurement.date >= '2014-06-01').filter(Measurement.date <= '2014-06-30').all()
june_2015 = session.query(Measurement.tobs).filter(Measurement.date >= '2015-06-01').filter(Measurement.date <= '2015-06-30').all()
june_2016 = session.query(Measurement.tobs).filter(Measurement.date >= '2016-06-01').filter(Measurement.date <= '2016-06-30').all()
june_2017 = session.query(Measurement.tobs).filter(Measurement.date >= '2017-06-01').filter(Measurement.date <= '2017-06-30').all()

In [7]:
#  3. Convert the June temperatures to a list.
june_list = list(june_2010 + june_2011 + june_2012 + june_2013 + june_2014 + june_2015 + june_2016 + june_2017)

In [8]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_list)

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_2010 = session.query(Measurement.tobs).filter(Measurement.date >= '2010-12-01').filter(Measurement.date <= '2010-12-31').all()
dec_2011 = session.query(Measurement.tobs).filter(Measurement.date >= '2011-12-01').filter(Measurement.date <= '2011-12-31').all()
dec_2012 = session.query(Measurement.tobs).filter(Measurement.date >= '2012-12-01').filter(Measurement.date <= '2012-12-31').all()
dec_2013 = session.query(Measurement.tobs).filter(Measurement.date >= '2013-12-01').filter(Measurement.date <= '2013-12-31').all()
dec_2014 = session.query(Measurement.tobs).filter(Measurement.date >= '2014-12-01').filter(Measurement.date <= '2014-12-31').all()
dec_2015 = session.query(Measurement.tobs).filter(Measurement.date >= '2015-12-01').filter(Measurement.date <= '2015-12-31').all()
dec_2016 = session.query(Measurement.tobs).filter(Measurement.date >= '2016-12-01').filter(Measurement.date <= '2016-12-31').all()
dec_2017 = session.query(Measurement.tobs).filter(Measurement.date >= '2017-12-01').filter(Measurement.date <= '2017-12-31').all()

In [11]:
# 7. Convert the December temperatures to a list.
dec_list = list(dec_2010 + dec_2011 + dec_2012 + dec_2013 + dec_2014 + dec_2015 + dec_2016 + dec_2017)

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_list)

In [13]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000